{% extends 'base.html' %}
{% block content %}
<img class="about-header" src="/static/images/about-header.png" alt="">
<div class="container-fluid about-whois">
    <div class="row">
        <div class="col-xl">
            <fieldset class="about-inner-box">
                <legend><span><img class="mx-3" src="/static/images/green-plus.png" height="35px" alt=""></span>چشم
                    انداز ققنوس</legend>
                <p>ایفای نقش موثر برای رسیدن به جامعه ای که در آن</p>
                <p> <span>احتمال سوختن</span> افراد,<span>نزدیک به صفر</span> باشد;</p>
                <p>واگر فردی دچار سوختگی شد <span>احتمال بازگشت</span> کامل او</p>
                <p>به روند عادی زندگی <span>نزدیک به صددرصد</span> باشد.</p>
            </fieldset>
        </div>
        <div class="col-xl-5 whois-right">
            <h1><span><img src="/static/images/green-plus.png" class="pl-4" width="65px" alt=""></span>ققنوس کیست؟
                کجاست؟</h1>
            <p>انجمن حمایت از بیماران سوخته, سازمانی مردم‌‌نهاد و داوطلبانه است که برای اطلاع رسانی در جهت پیشگیری از
                سوختگی و نیز کمک به درمان و بازتوانی افراد سوخته, به همت جمعی از کارشناسان و فعالان حوزه‌های پزشکی و
                اجتماعی, از سال 1394 فعالیت خود را آغاز کرده است.</p>
            <p>تمامی فعالیت‌های انجمن, با کمک نیروهای داوطلب و بدون منافع مالی انجام می‌پذیرد</p>
            <p>انجمن ققنوس دو هدف اصلی را پیگیری می‌کند:</p>
            <p>آموزش عمومی و فرهنگ سازی برای پیشگیری از سوختگی افراد جامعه</p>
            <p>بازیابی حفظ و ارتقای سلامت و زندگی فردی و اجتماعی افراد سوخته</p>
        </div>
    </div>
    <!--========== Services ==========-->
    <div class="container-fluid about-service mt-5">
        <h1><span><img src="/static/images/black-plus.png" class="pl-4" width="65px" alt=""></span>حیطه فعالیت های ققنوس
        </h1>
        <div class="row" style="text-align: center;">
            <div class="col-md pb-5">
                <img class="about-serv3" src="/static/images/service-3.png" width="80%" alt="">
            </div>
            <div class="col-md pb-5">
                <img class="about-serv2" src="/static/images/service-2.png" width="80%" alt="">
            </div>
            <div class="col-md pb-5">
                <img class="about-serv1" src="/static/images/service-1.png" width="80%" alt="">
            </div>
        </div>
    </div>
    <!--========== Statement ==========-->
    <div class="container-fluid about-statement pb-5">
        <h5><span><img src="/static/images/white-plus.png" class="pl-4" width="65px" alt=""></span> بیانیه‌ی موقعیت
            گذاری (برای حیطه‌های درمان و بازتوانی)</h5>
        <div class="statement-1 statement-0">
            <p>( گروه هدف)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>برای</span>
            <a> افراد سوخته</a>
        </div>
        <br>
        <div class="statement-2 statement-1">
            <p>( نیاز یا فرصت گروه هدف)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>که</span>
            <a> نیاز به حمایت و موقعیت برای بازیابی سلامت فیزیکی و نقش اجتماعی خود دارند؛</a>
        </div>
        <br>
        <div class="statement-3 statement-1">
            <p>( خدمات - محصولات)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>خدمات</span>
            <a> درمانی و بازتوانی سازمان مردم نهاد ما شامل فعالیت هایی است بر پایه مسئولیت اجتماعی
            </a>
        </div>
        <br>
        <div class="statement-4 statement-1">
            <p>( ویژگی و نفع اصلی)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>که</span>
            <a> به صورت تخصصی و با دید کوتاه مدت (درمان) و بلندمدت (بازتوانی) با افراد سوخته همراهی می کند.
            </a>
        </div>
        <br>
        <div class="statement-5 statement-1">
            <p>( در مقایسه با رقبا)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>برخلاف</span>
            <a> سازمان های خیریه که فقط فقط نقش مسکن را دارند، فعالیت های انجمن سوختگی
            </a>
        </div>
        <br>
        <div class="statement-6 statement-1">
            <p>( پیشنهاد متمایزکننده)</p>
            <img src="/static/images/about-arrow.png" width="17px" alt="">
            <span>در جهت</span>
            <a> توانمندسازی افراد سوخته است تا بتوانند در فرآیند بازآفرینی زندگی خود، نقش موثر و نسبتا مستقلی را داشته
                باشند.
            </a>
        </div>
    </div>
    <!--========== How we Work ==========-->
    <div class="container-fluid about-how-work">
        <h1><span><img src="/static/images/black-plus.png" class="pl-4" width="65px" alt=""></span>ما در ققنوس چگونه کار
            می‌کنیم؟
        </h1>
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="card bg-primary about-card-main">
                        <div class="card-body about-card-1">
                            <h4 class="card-title mt-4">ارزش‌های برند</h4>
                            <h5 class="card-title mb-4 text-center">Brand Values</h5>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>مسئولیت اجتماعی</p>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>شفافیت</p>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>نگاه بلندمدت به زندگی(فردسوخته)</p>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>نگاه تخصصی</p>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>فضای کار جمعی و تیمی</p>
                            <p class="card-text"><span><img class="pl-2" src="/static/images/white-plus.png"
                                        width="25px" alt=""></span>توانمندسازی، نه صرفا رفع نیاز</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card bg-primary about-card-main">
                        <div class="card-body about-card-2">
                            <h4 class="card-title mt-4">ماموریت برند</h4>
                            <h5 class="card-title mb-4 text-center">Mission</h5>
                            <p class="card-text text-center">خلق یک پلت فرم برای هدایت منابع و افراد و مشارکت متخصصین،
                                عموم مردم، مسئولان، سازمان ها و افراد سوخته جهت پیشگیری از سوختگی، درمان موثر سوختگی و
                                بازتوانی افراد سوخته.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="card bg-primary about-card-main">
                        <div class="card-body about-card-3">
                            <h4 class="card-title mt-4">قول برند</h4>
                            <h5 class="card-title mb-4 text-center">Brand Promise</h5>
                            <p style="padding-top: 8%;" class="card-text text-center">برخورد کاملا تخصصی، حرفه ای و شفاف
                            </p>
                            <p class="card-text text-center">با روند حمایت از</p>
                            <p style="padding-bottom: 34%;" class="card-text text-center">((پیشگیری و درمان سوختگی))</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--========== Approach ==========-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg"></div>
            <div class="col-lg-5 about-approach">
                <h1><span><img src="/static/images/black-plus.png" class="pl-4" width="65px" alt=""></span>رویکرد طراحی
                    و
                    توسعه
                    برند</h1>
                <p>مهمترین بنیان‌های طراحی هویت برای انجمن ققنوس در این بخش معرفی شده‌است. اعضای انجمن تلاش می‌کنند تا
                    بر
                    مبنای
                    این کلیدواژه‌ها, رفتار سازمانی و هویتی خود و برنامه‌های انجمن را بسنجند و بررسی کنند.</p>

            </div>
        </div>
    </div>
    <div class="container" style="width: 85%;">
        <div class="row">
            <div class="col-lg mt-3 pt-4 pb-3 about-brand">
                <h2>IDEA<span>Brand Design Approach</span></h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg" style="padding: 0 1% 0 0;">
                <div class="card bg-primary brand-card-main">
                    <div class="card-body about-brand-1">
                        <h3 class="card-title text-center mt-4">Integrity</h3>
                        <h6 class="card-title mb-4 text-center">هماهنگ بودن هویت برند با ماموریت و تصویر برند</h6>
                        <p class="card-text text-center">کارکرد‌ها و خروجی‌های ققنوس باید با رفتار سازمانی و بنیان‌های
                            فکری هویت ققنوس منطبق باشد.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg" style="padding: 0 1% 0 0;">
                <div class="card bg-primary brand-card-main">
                    <div class="card-body about-brand-2">
                        <h3 class="card-title text-center mt-4">Democracy</h3>
                        <h6 class="card-title mb-4 text-center">امکان رشد ارگانیک برای خانواده انجمن ققنوس</h6>
                        <p class="card-text text-center">برند به اعضا، همکاران و تمامی کسانی که با آن کار می کنند اجازه
                            می دهد که با درجه بالایی از آزادی و اختیار، سفیرانش باشند(در عین رعایت کردن قواعد هویتی
                            برند).</p>
                    </div>
                </div>
            </div>
            <div class="col-lg" style="padding: 0 1% 0 0;">
                <div class="card bg-primary brand-card-main">
                    <div class="card-body about-brand-3">
                        <h3 class="card-title text-center mt-4">Ethics</h3>
                        <h6 class="card-title mb-4 text-center">هماهنگی روش‌ها و فرهنگ کاری برند با ارزش‌های برند</h6>
                        <p class="card-text text-center">تمامی فعالیت‌ها, ارتباطات و تعاملات انجمن باید مطابق ارزش‌های
                            بنیادین انجمن باشد. این ارزش‌ها در بخش 1 (هویت برند) معرفی شده‌اند.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg" style="padding: 0;">
                <div class="card bg-primary brand-card-main">
                    <div class="card-body about-brand-4">
                        <h3 class="card-title text-center mt-4">Affinity
                        </h3>
                        <h6 class="card-title mb-4 text-center">تقسیم کردن اعتبار با همکاران و همراهان برند</h6>
                        <p class="card-text text-center">در برنامه‌ها, هماکاران و همراهان بیرون سازمانی ققنوس را
                            هم‌رده‌ی خود انجمن معرفی می‌کنیم. آن‌ها برای ما و به عنوان زیر‌مجموعه‌ی ما کار نمی‌کنند; با
                            ما کار می‌کنند.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--========== InfoGraphic ==========-->
    <img src="/static/images/Info-graphic.png" class="my-3" width="100%" alt="">
</div>

<!--========== Sponsers ==========-->
<!--========== Sponsers ==========-->
<div class="container-fluid sponsers-back">
    <h3>حامیان انجمن ققنوس</h3>
    <div class="container">
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner pb-5 mb-4">
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon1.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon2.jpg" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon3.jpg" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon4.jpg" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon5.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon6.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon7.jpg" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon8.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon9.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon10.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon11.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon12.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon13.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon14.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon15.png" width="140px" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <img src="/static/images/icon16.png" width="140px" alt="">
                    </div>
                </div>
            </div>
            <a style="background-color: transparent; border: none; outline: none;" class="btn btn-primary leftLst"><img
                    src="static/images/main-slider-prev-arrow.png" width="25px" alt=""></a>
            <a style="background-color:transparent; border: none; outline: none;" class="btn btn-primary rightLst"><img
                    src="static/images/main-slider-next-arrow.png" width="25px" alt=""></a>
        </div>
    </div>
</div>
<div class="icon-slider-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3>حامیان انجمن ققنوس</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="carousel box-carousel d-sm-block main-box-carousel">
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon1.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon2.jpg" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon3.jpg" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon4.jpg" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon5.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon6.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon7.jpg" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon8.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon9.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon10.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon11.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon12.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon13.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon14.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon15.png" alt=""></a>
                    </div>
                    <div class="box main-box">
                        <a href=""><img src="/static/images/icon16.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
{% endblock %}


<div class="row">
    <div class="col left-gozaresh">
        <h5>توضیحات<img src="/static/images/white-page-plus.png" alt=""></h5>
        <p>تدوین شده در تاریخ اسفند 1399</p>
        <p>گزارش کشوری 1398 حوادث ناشی از استفاده از مواد منفجره</p>
        <p style="direction:rtl">گزارش مصدومین حوادث ناشی از استفاده از مواد محترقه در چهارشنبه آخر سال دردانشگاههای
            علوم پزشکی کشور
            سالهای 1393 الی 1398</p>
        <a href="/static/images/mavad-monfajer-98.pdf"><img style="padding-top: 4vw; margin-left: -2vw;"
                    src="/static/images/download3.png"></a>
    </div>
    <div class="col right-gozaresh">
        <h4>گزارش 1398 حوادث ناشی از استفاده از مواد منفجره<img src="/static/images/page-plus.png" alt=""></h4>
        <!--<small>تدوین شده در تاریخ  خرداد 1397</small>-->
        <!--<p>---------------------------توضیحات</p>-->
        <img style="width: 70%; margin-left: 6vw;     margin-top: -1vw;" src="/static/images/mavad-monfajer-98.jpg">
    </div>
</div>

