{% extends 'base.html' %}
{% block content %}
<h1 class="ketabche-header"><span><img src="/static/images/green-plus.png" alt=""></span>دانلود کتابچه‌ها و بروشور‌های
    ققنوس</h1>
<div class="container-fluid" style="width: 85%;">
    <div class="row">
        <div class="col-lg-4 col-md-6 my-5">
            <div class="card bg-primary ketab-card-main">
                <div class="card-img-top ketab-card-img text-center"
                    style="background-image: url('/static/images/ketab-1.png'); ">
                    <a href=""><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-4"
                                    height="25px" alt=""></span>کتابچه‌ی هویت سازمانی<span><img class="pr-4"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="card-body ketab-card-1">
                    <p class="card-text pt-2">نسخه 1- بهار 1398</p>
                    <p class="card-text">راهنمای فرهنگ و هویت سازمانی ققنوس برای سفیران, اعضای تیم اجرایی و
                        مدیران انجمن
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-5">
            <div class="card bg-primary ketab-card-main">
                <div class="card-img-top ketab-card-img text-center"
                    style="background-image: url('/static/images/ketab-2.png'); ">
                    <a href="/static/images/brochur.zip"><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-5"
                                    height="25px" alt=""></span>بروشور ققنوس<span><img class="pr-5"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="card-body ketab-card-2">
                    <p class="card-text pt-2">نسخه‌ 2- بهار 1399</p>
                    <p class="card-text">شرحی کوتاه و مفید از خدمات, کارکرده‌ها و اهداف انجمن
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 my-5">
            <div class="card bg-primary ketab-card-main">
                <div style="background-image: url('/static/images/ketab-3.png'); "
                    class="card-img-top ketab-card-img text-center">
                    <a href=""><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-5"
                                    height="25px" alt=""></span>کتابچه‌ی ققنوس<span><img class="pr-5"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="ketab-card-hover">
                    <div class="card-body ketab-card-3">
                        <p class="card-text pt-2">نسخه 1- بهار 1399</p>
                        <p class="card-text">در این کتابچه, معرفی کامل انجمن و خدمات آن, بنیادی‌ترین مطالب برای پیشگیری از سوختگی و نیز روش‌های کمک به افراد سوخته ارائه شده است. کتابچه‌ای که باید در هر خانه‌ای باشد و هر فردی آن را بخواند.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card bg-primary ketab-card-main">
                <div style="background-image: url('/static/images/ketab-3.png'); "
                    class="card-img-top ketab-card-img text-center">
                    <a href=""><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-5"
                                    height="25px" alt=""></span>کتابچه‌ی ققنوس<span><img class="pr-5"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="ketab-card-hover">
                    <div class="card-body ketab-card-3">
                        <p class="card-text pt-2">نسخه 1- بهار 1399</p>
                        <p class="card-text">در این کتابچه, معرفی کامل انجمن و خدمات آن, بنیادی‌ترین مطالب برای پیشگیری از سوختگی و نیز روش‌های کمک به افراد سوخته ارائه شده است. کتابچه‌ای که باید در هر خانه‌ای باشد و هر فردی آن را بخواند.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card bg-primary ketab-card-main">
                <div style="background-image: url('/static/images/ketab-3.png'); "
                    class="card-img-top ketab-card-img text-center">
                    <a href=""><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-5"
                                    height="25px" alt=""></span>کتابچه‌ی ققنوس<span><img class="pr-5"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="ketab-card-hover">
                    <div class="card-body ketab-card-3">
                        <p class="card-text pt-2">نسخه 1- بهار 1399</p>
                        <p class="card-text">در این کتابچه, معرفی کامل انجمن و خدمات آن, بنیادی‌ترین مطالب برای پیشگیری از سوختگی و نیز روش‌های کمک به افراد سوخته ارائه شده است. کتابچه‌ای که باید در هر خانه‌ای باشد و هر فردی آن را بخواند.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card bg-primary ketab-card-main">
                <div style="background-image: url('/static/images/ketab-3.png'); "
                    class="card-img-top ketab-card-img text-center">
                    <a href=""><button class="btn"><span><img src="/static/images/pdf-icon.png" class="pl-5"
                                    height="25px" alt=""></span>کتابچه‌ی ققنوس<span><img class="pr-5"
                                    src="/static/images/download-icon-black.png" height="25px"
                                    alt=""></span></button></a>
                </div>
                <div class="ketab-card-hover">
                    <div class="card-body ketab-card-3">
                        <p class="card-text pt-2">نسخه 1- بهار 1399</p>
                        <p class="card-text">در این کتابچه, معرفی کامل انجمن و خدمات آن, بنیادی‌ترین مطالب برای پیشگیری از سوختگی و نیز روش‌های کمک به افراد سوخته ارائه شده است. کتابچه‌ای که باید در هر خانه‌ای باشد و هر فردی آن را بخواند.
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
{% endblock %}