{% extends 'base.html' %}
{% block content %}
<section class="quest-main">
    <div class="container-fluid quest-header">
        <h1><span><img src="/static/images/white-plus.png" width="37px" alt=""></span>سوالات متداول</h1>
    </div>
    <div class="container-fluid quest-qa-1">
        <p class="quest-q">- آیا جای زخم می‌ماند؟</p>
        <p>- درصورتی‌که سطحی باشد و کمتر از سه هفته ترمیم شود خیر. در غیر این‌صورت جای سوختگی خواهد ماند. در سوختگی‌های عمیق ممکن است تا حدی باقی بماند، ولی با انجام روش‌های پیشگیری از اسکار اثرات سوختگی کمتر می‌شود.</p>
    </div>
    <div class="container-fluid quest-qa-2">
        <p class="quest-q">- چه زمانی برای شروع اعمال جراحی ترمیمی سوختگی مناسب است؟</p>
        <p>- بعد از این‌که زخم به بلوغ رسید ؛حدود ۱/۵سال بعد از سوختگی حاد. معمولا برای کنترکچر و اسکار باید یک‌سال بگذرد.</p>
    </div>
    <div class="container-fluid quest-qa-1">
        <p class="quest-q">- لیزر چه کمکی به درمان جای سوختگی می‌کند؟</p>
        <p>- لیزر فقط می‌تواند سرعت بهبود زخم را سرعت بخشد؛ ولی در نتیجه کلی، تاثیر اندکی دارد.</p>
    </div>
    <div class="container-fluid quest-qa-2">
        <p class="quest-q">- امکان انجام پیوند پوست مصنوعی وجود دارد؟</p>
        <p>- پوست مصنوعی هنوز ساخته نشده است.</p>
    </div>
    <div class="container-fluid quest-qa-1">
        <p class="quest-q">- آیا امکان استفاده از پوست جسد وجود دارد؟</p>
        <p>- پیوند پوست از جسد فقط برای جایگزین موقتی است و در موارد دائم کارایی ندارد.</p>
    </div>
    <div class="container-fluid quest-qa-2">
        <p class="quest-q">- آیا امکان دارد به ظاهر قبل از سوختگی برگردم؟</p>
        <p>- با جراحی ترمیمی در هر مرحله، بهبود وجود دارد، ولی هیچ‌گاه مثل روز اول نخواهد شد. خیر شاید در آینده، علم پزشکی پیشرفت کند و راه‌حل پیدا شود.</p>
    </div>
    <div class="container-fluid quest-qa-1">
        <p class="quest-q">- برای رفع خارش به‌خصوص در شب‌ها چکار باید کرد؟ تا چه موقع ادامه دارد؟</p>
        <p>- تا وقتی زخم به مرحله نهایی ترمیم نرسد که حدود ۱/۵سال طول می‌کشد، خارش خواهید داشت که با درمان دارویی بهتر خواهد شد. مرتب چرب شود. از داروهای ضدخارش استفاده شود. معمولا خارش بین شش ماه تا یک‌سال و بعضی موارد بیشتر طول می‌کشد و تا وقتی جای زخم هنوز قرمز و متورم است، ادامه دارد.</p>
    </div>
    <div class="container-fluid quest-qa-2">
        <p class="quest-q">- پوست پیوند زده شده تا چه زمانی باید مرطوب و چرب نگه داشته شود؟</p>
        <p>- حداقل تا ۳ ماه که غدد عرق و زاویه پوستی شروع به کار کنند باید پوست پیوند شده را چرب کرد.</p>
    </div>
    <div class="container-fluid quest-qa-1">
        <p class="quest-q">- آیا برای بدنسازی از دستگاه رشد بافت (TE) می‌توان استفاده کرد؟</p>
        <p>- در صورتی که مجاورت ناحیه سوختگی، پوست سالم داشته باشد، قابل انجام است.</p>
    </div>
    <div class="container-fluid quest-qa-2">
        <p class="quest-q">- درمان‌های سنتی و توصیه‌های مردم عادی چقدر قابل استفاده است؟</p>
        <p>- هیچ‌کدام ثابت نشده، مگر ترکیباتی که به صورت دارو تهیه می‌شود.</p>
    </div>
</section>
<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
{% endblock %}