{% extends 'base.html' %}
{% block content %}
<div class="container-fluid stats-main">
    <div class="row">
        <div class="col-lg">
            <h1><span><img src="/static/images/green-plus.png" class="pl-5" width="90px" alt=""></span>آمار و اطلاعات
            </h1>
        </div>
        <div class="col-lg-3">
            <p>آخرین بروز رسانی: پاییز ۱۳۹۹</p>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid mb-5" style="width: 89%;">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5 ">
                <div class="card bg-primary stats-box-main ">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-3">تعداد بیماران سوختگی زیر 5 سال</p>
                        <div class="b-skills">
                            <div class="skill-item center-block">
                                <div class="chart-container">
                                    <div class="chart " data-percent="30" data-bar-color="#bdd62e">
                                        <span class="percent" data-after="%">30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>درصد از کل بیماران</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body ">
                        <p class="card-text pb-3">تعداد بیماران سوختگی زیر 18 سال</p>
                        <div class="b-skills">
                            <div class="skill-item center-block">
                                <div class="chart-container">
                                    <div class="chart " data-percent="40" data-bar-color="#bdd62e">
                                        <span class="percent" data-after="%">40</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>درصد از کل بیماران</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-3">تعداد افرادی که در اثر سوختگی در سال جان خود را از دست می‌دهند</p>
                        <h4
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            3000</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-3">تعداد بیماران سوخته مراجعه کننده به مراکز درمانی در سال
                        </p>
                        <h4>230,000</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text ">تعداد افراد سوخته تحت حمایت و درمان انجمن ققنوس

                        </p>
                        <div class="b-skills">
                            <div class="skill-item center-block">
                                <div class="chart-container">
                                    <div class="chart " data-percent="5" data-bar-color="#bdd62e">
                                        <span class="percent" data-after="%">3.4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>درصد از کل بیماران</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-4">تعداد اعضا و حامیان ققنوس

                        </p>
                        <h4 class="mb-5"
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            750</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p style="font-size: 16px;" class="card-text pb-1">درصد بیماران با سوختگی الکتریکی که حداقل یک
                            عضو خود را از دست می‌دهند

                        </p>
                        <div class="b-skills">
                            <div class="skill-item center-block">
                                <div class="chart-container">
                                    <div class="chart " data-percent="50" data-bar-color="#bdd62e">
                                        <span class="percent" data-after="%">50</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>درصد از کل بیماران</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-4">تعداد بیماران بستری شده با سوختگی الکتریکی در سال

                        </p>
                        <h4 class="mb-4"
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            2000</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-3">هزینه لازم برای تامین تخت های سوختگی استاندارد (تومان)

                        </p>
                        <h4 class="mb-4 pb-5"
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            هزار میلیارد</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text pb-4">کمبود تخت سوختگی استاندارد در کشور
                        </p>
                        <h4 class="mb-5"
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            2700</h4>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p class="card-text ">تعداد مراکز استانی که با ققنوس همکاری می‌کنند

                        </p>
                        <div class="b-skills">
                            <div class="skill-item center-block">
                                <div class="chart-container">
                                    <div class="chart " data-percent="62" data-bar-color="#bdd62e">
                                        <span class="percent" data-after="%">62</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>درصد از کل بیماران</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-md-6 col-sm-6 mb-5">
                <div class="card bg-primary stats-box-main">
                    <div class="card-body stats-box-body">
                        <p style="font-size: 16px;" class="card-text pb-4">تعداد تقریبی دفعاتی که به بیماران سوختگی در سال گذشته کمک شده است
                        </p>
                        <h4 class="mb-4"
                            style="background-image: url('/static/images/green-border.png'); background-size: 120px; background-repeat: no-repeat; background-position: center;">
                            2000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
<script src="/static/js/plugins/jquery-2.2.4.min.js"></script>
<script src="/static/js/plugins/jquery.appear.min.js"></script>
<script src="/static/js/plugins/jquery.easypiechart.min.js"></script>
<script>
    'use strict';

    var $window = $(window);

    function run() {
        var fName = arguments[0],
            aArgs = Array.prototype.slice.call(arguments, 1);
        try {
            fName.apply(window, aArgs);
        } catch (err) {

        }
    };

    /* chart
    ================================================== */
    function _chart() {
        $('.b-skills').appear(function () {
            setTimeout(function () {
                $('.chart').easyPieChart({
                    easing: 'easeOutElastic',
                    delay: 3000,
                    barColor: '#bdd62e',
                    trackColor: '#f7f6e4',
                    scaleColor: false,
                    lineWidth: 21,
                    trackWidth: 21,
                    size: 300,
                    lineCap: '',
                    onStep: function (from, to, percent) {
                        this.el.children[0].innerHTML = Math.round(percent);
                    }
                });
            }, 150);
        });
    };


    $(document).ready(function () {

        run(_chart);


    });



</script>

{% endblock %}