{% load i18n %}
{% autoescape off %}
<div style="text-align: right; direction: rtl;">
    <h2>کاربر گرامی</h2>
    <h2>سلام</h2>
    <h2>این ایمیل به درخواست شما برای بازیابی کلمه عبور در وبسایت انجمن ققنوس برای شما ارسال شده است.
        برای تغییر کلمه عبور لینک زیر را باز کنید:
    </h2>
    <a style="font-weight: bold; text-decoration: none ;background-color: #bdd62e; color: black !important; padding: 20px 50px; font-size: 20px !important;"
        href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">ایجاد کلمه
        عبور</a>
    <h2 style="padding-bottom: 30px;">لطفاً توجه داشته باشید، این لینک پس از 48 ساعت منقضی خواهد شد.</h2>
    <h2 style="padding-top: 30px;">با تشکر از شما</h2>
    {% blocktrans %}
    <h2>{{ site_name }}</h2>
    {% endblocktrans %}
    {% endautoescape %}
</div>