{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="login-back">
    <div class="container-fluid login-main">
        <div class="row">
            <div class="col-lg-7 signup-detail-form text-center">
                <h1 class="pass-reset-h1"><span><img src="/static/images/green-plus.png" class="pl-4" width="65px" alt=""></span>تغییر رمز عبور</h1>
                <form method="POST">
                    {% csrf_token %}
                    <input class="textinput textInput form-control6" placeholder="آدرس ایمیل خود را وارد کنید" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                    <input class="btn help-detail-btn mt-4" type="submit" value="ثبت">
                </form>

            </div>
        </div>
    </div>
</section>



<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
{% endblock content %}