{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="login-back">
    <div class="container-fluid login-main">
        <div class="row">
            <div class="col-lg-7 signup-detail-form text-center">
                <h1 class="pass-reset-h1"><span><img src="/static/images/green-plus.png" class="pl-4" width="65px" alt=""></span>تغییر رمز عبور</h1>
                <p class="pass-reset-p mb-5">رمز عبور با موفقیت جایگزین شد.</p>
                <small class="logout-small">
                    <a class="ml-2" href="{% url 'login' %}">ورود مجدد</a>
                </small>
            </div>
        </div>
    </div>
</section>



<script src="/static/js/jquery.min2.js" type="text/javascript"></script>
{% endblock content %}